[defaults]
# Inventory file — defines which servers to configure
inventory = inventory.ini

# SSH user for Ubuntu EC2 instances
remote_user = ubuntu

# Private key for SSH — matches key pair used in Terraform
# In CI/CD this is overridden by the key injected from GitHub Secrets
private_key_file  = ~/.ssh/devops-bank-app-key.pem

# Needed because EC2 IPs change on every terraform apply
host_key_checking = False

#Clean readble output
stdout_callback = ansible.builtin.default
result_format = yaml

[ssh_connection]
# Skip strict host key checking — required for dynamic EC2 IPs
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

# Reuse SSH connections across tasks — much faster
# Requires requiretty disabled in sudoers (default on Ubuntu)
pipelining        = True

[privilege_escalation]
become = True
become_method = sudo
